.terraform/

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.auto.tfvars

*.tfplan
*.plan
*.tfplan.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

.DS_Store

# Keep the lock file tracked
!.terraform.lock.hcl
